@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Inter, sans-serif;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

h1 {
    font-family: League Spartan, Inter, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.border-input:focus {
    border-color: #C9D1C4;
    box-shadow: 0 0 0 0.2rem rgba(120, 172, 77, 0.25);
}

footer a {
    color: #1e5e2e;
}

